body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

h1 {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: black;
    padding: 20px;
    text-align: center;
}

p {
    margin: 10px;
    padding: 10px;
}

.info {
    text-align: center;
    margin: 30px;
}

.bioSection {
    background-color: lightgray;
    gap: 20px;
    margin: 20px 10px 20px 10px;
    min-height: 300px;
}

.bioImage {
    float: left;
    margin-right: 20px;
}

.bioText {
    padding: 10px;
}

.schedule {
    margin: 10px;
}

.interests div {
    justify-self: center;
    max-height: 400px;
}

.interests {
    margin-top: 60px;
}

.interests h2 {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}
.interests ul {
    padding: 20px;
    list-style: none;
}

.hobbies h2 {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}

.hobbies article {
    background-color: lightgray;
    min-height: 350px;
    margin: 20px;
}

.hobbies ol {
    margin-left: 20px;
    padding: 20px;
}

.hobbies li {
    padding: 19px;
}

.hobbies img {
    float: left;
    margin-right: 60px;
    border: 10px solid navy;
}

.favorites h2 {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}

.favoritesArticles {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.current h2 {
    text-align: center;
}

.current li {
    list-style: none;
}

.past h2 {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.card {
    transition: all 300ms ease;
}

.card:hover {
    background-color: lightgray;
    box-shadow: gray 0px 10px;
}

.achievement {
    margin-top: 60px;
}

.achievement h2 {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}

.achievement ul {
    padding: 40px;
    list-style: none;
}

form {
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 5px lightgray;
}

footer {
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    justify-content: center;
}